/* fonts   #1d1e22  */
@font-face {font-family: Penumbra; src: url('Penumbra-HalfSerif.ttf');} 
@font-face {font-family: Open Sans; src: url('OpenSans-Regular.ttf');} 

h1, h2, h3 {
	font-family: Penumbra;
	align: center;
}

body {
	font-family: Open Sans;
}

label {
	border-radius: 10px;
	padding: 0px 10px 4px 0px;
	color: var(--textColor);
}

[type="checkbox"] + label:hover {
	background-color: #333;
	color: #FFF;
}

[type="checkbox"]:checked + label {
	background-color: #eb3131 !important;
}

.slider {
	width: 45%;
}

.expansion {
	display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#noneButton,#RiseandFallButton,#GatheringStormButton,#draftButton,#confirmButton,.dark-toggle,output,select {
	font-family: Penumbra;
	border-radius: 15px;
	border: 2px solid #444;
	margin: 5px;
	padding: 6px 6px 4px 6px;
}


#noneButton,#RiseandFallButton,#GatheringStormButton,#draftButton,#confirmButton,.dark-toggle,select {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	transition: color var(--transitionDuration), background-color var(--transitionDuration);
}

.selected {
  background-color: #444 !important;
  color: #FFF !important;
}


#noneButton:hover,#RiseandFallButton:hover,#GatheringStormButton:hover,#draftButton:hover,#confirmButton:hover,.dark-toggle:hover,select:hover {
  background-color: #333;
  color: #FFF
}

#noneButton:active,#RiseandFallButton:active,#GatheringStormButton:active,#draftButton:active,#confirmButton:active,.dark-toggle:active,select:active {
  background-color: #444;
  color: #FFF
}

.three-column {
  display: block;
}

@media (min-width: 1500px) {
  .three-column {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.three-column > * {
  padding: 1rem;
  margin: 1rem;
}

#columns{
  border-radius: 25px;
  border: 2px solid #444;
  padding: 20px;
}

li {
	list-style: none;
}

.offerList {
  padding-left: 50px;
}

#map {
	display: block;
	padding: 4px;
	border-radius: 15px;
	border: 2px solid #444;
	text-align: center;
	background-color: #444;
	color: #FFF;
}

.leaderIcon {
	vertical-align: middle;
	margin-right: 6px;
	margin-left: 4px;
	height: 24px;
}

.mapIcon {
	vertical-align: middle;
	margin-right: 6px;
	margin-left: 4px;
	height: 24px;
	border-radius: 12px;
}

:root {
	--backgroundColor: #EEE;
	--boxBackgroundColor: #FFF;
	--highlightBackgroundColor: #E8E8E8;
	--textColor: #000;
	--linkColor: #00AA00;
	--boxShadowColor: rgba(0,0,0, .15);
	--transitionDuration: 400ms;
	--spacing: 8px;
}

.dark-mode {
	--backgroundColor: #1d1e22;
	--boxBackgroundColor: #222;
	--highlightBackgroundColor: #444;
	--textColor: #FFF;
	--linkColor: #00CC00;
	--boxShadowColor: rgba(255,255,255, .1);
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	transition: color var(--transitionDuration), background-color var(--transitionDuration);
}

#header {
	text-align: center;
}

.slider {
	float: right;
}
