/* fonts   #1d1e22  */
@font-face {
	font-family: Penumbra;
	src: url('Penumbra-HalfSerif.ttf');
}

@font-face {
	font-family: Open Sans;
	src: url('OpenSans-Regular.ttf');
}

h1,
h2,
h3 {
	font-family: Penumbra;
	text-align: center;
}

body {
	font-family: Open Sans;
}

label {
	border-radius: 15px;
	padding: 0px 10px 4px 0px;
	color: var(--textColor);
	line-height: 26px;
	transition: color var(--transitionDuration);
}

[type="checkbox"]+label:hover {
	background-color: var(--hoverBackgroundColor);
	color: var(--textColor);
}

[type="checkbox"]:checked+label {
	background-color: #eb3131 !important;
	transition: color var(--transitionDuration), background-color var(--transitionDuration);
	color: #FFF;
}

[type="checkbox"],
#expansionSelected {
	display: none;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	float: left;
	height: 30px;
	border-radius: 15px;
	border: 2px solid var(--highlightBackgroundColor);
	transition: border-color var(--transitionDuration), background-color var(--transitionDuration);
	margin-top: 10px;
	margin-bottom: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type='range'] {
		overflow: hidden;
		-webkit-appearance: none;
		appearance: none;
		background-color: var(--backgroundColor);
		transition: border-color var(--transitionDuration), background-color var(--transitionDuration);
	}

	input[type='range']::-webkit-slider-runnable-track {
		height: 20px;
		-webkit-appearance: none;
	}

	input[type='range']::-webkit-slider-thumb {
		width: 0px;
		-webkit-appearance: none;
		height: 0px;
		cursor: ew-resize;
		box-shadow: -10000px 0 0 10000px var(--highlightBackgroundColor);
		transition: box-shadow var(--transitionDuration);
	}

}

input[type="range"]::-moz-range-progress {
	height: 30px;
	background-color: var(--highlightBackgroundColor);
	transition: border-color var(--transitionDuration), background-color var(--transitionDuration);
}

input[type="range"]::-moz-range-track {
	height: 30px;
	background-color: var(--backgroundColor);
	transition: border-color var(--transitionDuration), background-color var(--transitionDuration);
}

input[type="range"]::-moz-range-thumb {
	height: 0px;
	width: 0px;
	border: 0;
}

#expansion,
#draftButtons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#buttonMapsCount:hover span,#buttonLeadersCount:hover span {
	display:none
}

#buttonMapsCount:hover:before,#buttonLeadersCount:hover:before {
	content: "X"
}

#buttonMapsCount,#buttonLeadersCount {
	font-size: 18px;
	width: 35px;
	float: right;
	margin-right: 20px;
	text-align: center;
}

.dlcSelect {
	float: right;
}

i
{
	font-style: normal;
}

button,
.dark-toggle,
select {
	font-family: Penumbra;
	border-radius: 15px;
	border: 2px solid var(--highlightBackgroundColor);
	padding: 6px 6px 3px 6px;
	background-color: var(--backgroundColor);
	color: var(--textColor);
	transition: color var(--transitionDuration), background-color var(--transitionDuration), border-color var(--transitionDuration);
}

button:hover,
.dark-toggle:hover,
select:hover {
	background-color: var(--hoverBackgroundColor);
	color: var(--textColor);
}

button:active,
.dark-toggle:active,
select:active,
.selected {
	background-color: var(--highlightBackgroundColor) !important;
	color: var(--textColor) !important;
}

.three-column {
	display: block;
}

@media (min-width: 1400px) {
	.three-column {
		display: grid;
		grid-auto-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.three-column>* {
	padding: 1rem;
	margin: 1rem;
}

#shareUrlButton {
	display: none;
}

#columns {
	border-radius: 25px;
	border: 2px solid var(--highlightBackgroundColor);
	padding: 20px;
	transition: border-color var(--transitionDuration);
}

li {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

#playerList {
	margin-bottom: 10px;
}

.offerList {
	border-radius: 15px;
	background-color: var(--highlightBackgroundColor);
	transition: color var(--transitionDuration), background-color var(--transitionDuration);
}

#map {
	display: block;
	border-radius: 15px;
	border: 2px solid var(--highlightBackgroundColor);
	text-align: center;
	background-color: var(--highlightBackgroundColor);
	color: var(--textColor);
	transition: color var(--transitionDuration), background-color var(--transitionDuration), border-color var(--transitionDuration);
}

#map:empty {
	display: none;
}

.leaderIcon {
	vertical-align: middle;
	margin-right: 6px;
	margin-left: 4px;
	height: 22px;
}

.mapIcon {
	vertical-align: middle;
	margin-right: 6px;
	margin-left: 4px;
	height: 22px;
	border-radius: 11px;
}

:root {
	--backgroundColor: #EEE;
	--highlightBackgroundColor: #CCC;
	--hoverBackgroundColor: #E0E0E0;
	--textColor: #000;
	--transitionDuration: 400ms;
	--spacing: 8px;
}

.dark-mode {
	--backgroundColor: #1d1e22;
	--highlightBackgroundColor: #444;
	--hoverBackgroundColor: #333;
	--textColor: #FFF;
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	transition: color var(--transitionDuration), background-color var(--transitionDuration), border-color var(--transitionDuration);
}

#header {
	text-align: center;
}